table{border: 1;text-align:center;	padding : 2 2 2 2;font-size:12px}

body{background-color:black; background : black; margin;0 0 0 0}

v.link{
	color:yellow}
	
a. link{
	color:yellow}

 a.link{
	color:yellow}
