body{
	background : #87CEEB;
	color:white;
	text-align:center;
	font-size:14px;
	margin;
	0 0 0 0;
}

v:link{color:yellow;}
	
a:link{color:yellow;}

.sign{text-align: center;font-size:10px;color:white;}